<div class="container">
    <div class="row seccion" id="quiensoy">
        <div class="col">
            <h2 class="subtitle">PRESENTACIÓN</h2>
            <br>
            <p>
                ¡Hola, qué tal! Soy <b> Dario Ezequiel Decandido</b>, y si estás buscando a alguien que le dé vida a tus
                ideas en línea,
                ¡has llegado al lugar correcto! Soy programador full stack y te invito a que conozcas mi trabajo.
                Me especializo en el desarrollo de sitios y aplicaciones web, utilizando las últimas tecnologías
                disponibles para crear productos de alta calidad y rendimiento. Me apasiona mi trabajo y me encanta
                aprender nuevas tecnologías y herramientas para mejorar mis habilidades. Si estás
                interesado en trabajar conmigo, no dudes en contactarme.
            </p>
        </div>
    </div>
    <div class="row" id="habilidades">
        <h2 class="subtitle">HABILIDADES</h2>
        <div class="col-md">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingJS">
                        <button class="accordion-button centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseJS" aria-expanded="true" aria-controls="collapseJS">
                            <img class="icono-hab" src="./assets/images/js.png" alt="JS">
                        </button>
                    </h2>
                    <div id="collapseJS" class="accordion-collapse collapse" aria-labelledby="headingJS"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingCSS">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseCSS" aria-expanded="false" aria-controls="collapseCSS">
                            <img class="icono-hab" src="./assets/images/css-3.png" alt="CSS">
                        </button>
                    </h2>
                    <div id="collapseCSS" class="accordion-collapse collapse" aria-labelledby="headingCSS"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingHTML">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseHTML" aria-expanded="false" aria-controls="collapseHTML">
                            <img class="icono-hab" src="./assets/images/html-5.png" alt="HTML5">
                        </button>
                    </h2>
                    <div id="collapseHTML" class="accordion-collapse collapse" aria-labelledby="headingHTML"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNode">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNode" aria-expanded="false" aria-controls="collapseNode">
                            <img class="icono-hab" src="./assets/images/node.png" alt="NodeJS">
                        </button>
                    </h2>
                    <div id="collapseNode" class="accordion-collapse collapse" aria-labelledby="headingNode"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until
                            the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNest">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNest" aria-expanded="false" aria-controls="collapseNest">
                            <img class="icono-hab" src="./assets/images/nest.png" alt="NestJS">
                        </button>
                    </h2>
                    <div id="collapseNest" class="accordion-collapse collapse" aria-labelledby="headingNest"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingAngular">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseAngular" aria-expanded="false" aria-controls="collapseAngular">
                            <img class="icono-hab" src="./assets/images/angular.png" alt="Angular">
                        </button>
                    </h2>
                    <div id="collapseAngular" class="accordion-collapse collapse" aria-labelledby="headingAngular"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingReact">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseReact" aria-expanded="false" aria-controls="collapseReact">
                            <img class="icono-hab" src="./assets/images/react.png" alt="React">
                        </button>
                    </h2>
                    <div id="collapseReact" class="accordion-collapse collapse" aria-labelledby="headingReact"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="accordion" id="accordionExample2">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingPHP">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsePHP" aria-expanded="false" aria-controls="collapsePHP">
                            <img class="icono-hab" src="./assets/images/php.png" alt="PHP">
                        </button>
                    </h2>
                    <div id="collapsePHP" class="accordion-collapse collapse" aria-labelledby="headingPHP"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingWordpress">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseWordpress" aria-expanded="false" aria-controls="collapseWordpress">
                            <img class="icono-hab" src="./assets/images/wordpress.png" alt="Wordpress">
                        </button>
                    </h2>
                    <div id="collapseWordpress" class="accordion-collapse collapse" aria-labelledby="headingWordpress"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingMongoDB">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseMongoDB" aria-expanded="false" aria-controls="collapseMongoDB">
                            <img class="icono-hab" src="./assets/images/mongodb.png" alt="MongoDB">
                        </button>
                    </h2>
                    <div id="collapseMongoDB" class="accordion-collapse collapse" aria-labelledby="headingMongoDB"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingMySQL">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseMySQL" aria-expanded="false" aria-controls="collapseMySQL">
                            <img class="icono-hab" src="./assets/images/mysql.png" alt="MySQL">
                        </button>
                    </h2>
                    <div id="collapseMySQL" class="accordion-collapse collapse" aria-labelledby="headingMySQL"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFirebase">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFirebase" aria-expanded="false" aria-controls="collapseFirebase">
                            <img class="icono-hab" src="./assets/images/firebase.png" alt="Firebase">
                        </button>
                    </h2>
                    <div id="collapseFirebase" class="accordion-collapse collapse" aria-labelledby="headingFirebase"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNetlify">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNetlify" aria-expanded="false" aria-controls="collapseNetlify">
                            <img class="icono-hab" src="./assets/images/netlify.png" alt="Netlify">
                        </button>
                    </h2>
                    <div id="collapseNetlify" class="accordion-collapse collapse" aria-labelledby="headingNetlify"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingLaravel">
                        <button class="accordion-button collapsed centered-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseLaravel" aria-expanded="false" aria-controls="collapseLaravel">
                            <img class="icono-hab" src="./assets/images/laravel.png" alt="Laravel">
                        </button>
                    </h2>
                    <div id="collapseLaravel" class="accordion-collapse collapse" aria-labelledby="headingLaravel"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that just about any HTML can go within the <code>.accordion-body</code>, though the
                            transition
                            does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row seccion" id="proyectos">
        <h2 class="subtitle">PROYECTOS</h2>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/trabajo1.jpeg" class="card-img-top" alt="pisajística">
                <div class="card-body">
                    <h5 class="card-title">Consultoría Paisajística</h5>
                    <p class="card-text">Ofrecemos asesoramiento y orientación a arquitectos y empresas desarrollistas
                        durante todas
                        las etapas del proyecto. Desde la concepción hasta la implementación, trabajamos en estrecha
                        colaboración
                        para asegurarnos de que los diseños reflejen la visión del cliente y maximicen el potencial de
                        cada entorno.</p>
                    <a href="#" class="btn btn-primary">Ver Galería</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/trabajo1.jpeg" class="card-img-top" alt="pisajística">
                <div class="card-body">
                    <h5 class="card-title">Diseño de Espacios Exteriores</h5>
                    <p class="card-text">Nos especializamos en crear diseños de paisajes que se adapten
                        a las necesidades y deseos específicos de nuestros clientes. Ya sea para áreas residenciales,
                        comerciales o públicas, con un enfoque creativo y sostenible.</p>
                    <a href="#" class="btn btn-primary">Ver Galería</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/trabajo1.jpeg" class="card-img-top" alt="pisajística">
                <div class="card-body">
                    <h5 class="card-title">Instalación y Construcción</h5>
                    <p class="card-text">No solo proporcionamos diseños, sino que también tenemos la capacidad
                        de llevar a cabo la construcción e instalación de los proyectos.
                        Nuestro equipo se encarga de llevar a cabo todas las tareas necesarias
                        para materializar las ideas y convertir el concepto en realidad.</p>
                    <a href="#" class="btn btn-primary">Ver Galería</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/trabajo1.jpeg" class="card-img-top" alt="pisajística">
                <div class="card-body">
                    <h5 class="card-title">Mantenimiento y Cuidado</h5>
                    <p class="card-text">Sabemos que un paisaje bien diseñado requiere un cuidado constante para
                        mantener
                        su esplendor. Por lo tanto, ofrecemos servicios de mantenimiento y cuidado continuos para
                        asegurarnos
                        de que nuestros proyectos se mantengan en óptimas condiciones a lo largo del tiempo.</p>
                    <a href="#" class="btn btn-primary">Ver Galería</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/trabajo1.jpeg" class="card-img-top" alt="pisajística">
                <div class="card-body">
                    <h5 class="card-title">Vivero</h5>
                    <p class="card-text">En nuestro vivero, encontrarás una amplia variedad de plantas
                        cuidadosamente seleccionadas para embellecer tus espacios.
                        Ofrecemos asesoramiento personalizado y descuentos exclusivos para
                        profesionales y compras al por mayor. ¡Embellece tus proyectos con nosotros!
                    </p>
                    <a href="#" class="btn btn-primary">Ver Galería</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/trabajo1.jpeg" class="card-img-top" alt="pisajística">
                <div class="card-body">
                    <h5 class="card-title">Fábrica de macetas</h5>
                    <p class="card-text">Ofrecemos productos de alta calidad diseñados para realzar tus proyectos de
                        paisajismo y arquitectura.
                        Sé nuestro aliado en la creación de espacios únicos y memorables. Superaremos tus expectativas
                        con calidad, durabilidad,
                        precios competitivos y descuentos exclusivos para profesionales. Contáctanos ahora para hacer
                        realidad tus proyectos
                        con nuestras macetas de cemento.</p>
                    <a href="#" class="btn btn-primary">Ver Galería</a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row seccion" id="contacto">
        <h2 class="subtitle">CONTACTO</h2>

    </div>
</div>