<div class="container">
    <div class="row seccion" id="nosotros">
        <div class="col">
            <h2>NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium delectus tempora, consequuntur illo minus non mollitia itaque laborum asperiores omnis quidem minima vero culpa tempore quod possimus in pariatur!</p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aperiam vero ipsum reiciendis saepe sed dignissimos earum distinctio soluta, illo quod est deleniti. Modi dolores aperiam minus ea iure rem!
            </p>
        </div>
    </div>
    <div class="row carousel-img" id="carrusel">
        <h2 class="subtitle">SERVICIOS</h2>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/images/serv1.jpeg" class="d-block w-100" alt="servicios">
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/serv2.jpeg" class="d-block w-100" alt="servicios">
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/serv3.jpeg" class="d-block w-100" alt="servicios">
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/serv4.jpeg" class="d-block w-100" alt="servicios">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="row seccion" id="trabajos">
        <h2 class="subtitle">TRABAJOS</h2>
        <div class="col-md-4">
            <img class="pres-img" src="./assets/images/trabajo1.jpeg" alt="trabajos">
        </div>
        <div class="col-md-4">
            <img class="pres-img" src="./assets/images/trabajo2.jpeg" alt="trabajos">
        </div>
        <div class="col-md-4">
            <img class="pres-img" src="./assets/images/trabajo3.jpeg" alt="trabajos">
        </div>
    </div>
    <div class="row seccion" id="trabajos-mobile">
        <h2 class="subtitle">TRABAJOS</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/images/trabajo1.jpeg" class="d-block w-100" alt="presupuesto">
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/trabajo2.jpeg" class="d-block w-100" alt="presupuesto">
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/trabajo3.jpeg" class="d-block w-100" alt="presupuesto">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="row seccion" id="contacto">
        <h2 class="subtitle">CONTACTO</h2>
    
    </div>
</div>