.carousel-img{
    padding: 1rem;
    margin-top: 2rem;
    }
    .seccion{
        text-align: center;
        margin-top: 2rem;
    }
    .pres-img{
        width: 100%;
    }
    .subtitle{
        text-align: center;
        color: #6C63Ff;
        font-weight: bolder;
    }
    .accordion-button:not(.collapsed) {
        background-color: white !important;
    }
    .accordion-button:focus {
        border-color: #8a2530 !important;
        box-shadow: none;
    }
   #servicios-mobile{
    display: none;
   }
    .card{
        margin: 1rem!important;
        border: none!important;
    }
    .icono-hab{
        height: 2rem;
        width: 2rem;
    }
    .accordion-item{
        background: transparent!important;
        color: white!important;
        border: none!important;
    }
    .accordion-button{
        background: transparent!important;
        color: white!important;
        font-weight: bolder;
        border-radius: 10px!important;
    }
    .accordion-button:not(.collapsed) {
        background-color: #6C63Ff !important;
    }

    .accordion-button::after{
        display: none!important;
    }

    .centered-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    @media (max-width: 767px) {
        #servicios-mobile{
            display: block;
           }
           #servicios{
            display: none;
           }
      
    }