<div class="row header-top">
    <div class="col-6">
      <img class="logo" src="./assets/images/ezedecan_profile.jpg" alt="logo">
    </div>
    <div class="col-6">
      <div class="navbar">
        <ul class="menu">
          <li><a href="#quiensoy">¿QUIÉN SOY?</a></li>
          <li><a href="#habilidades">HABILIDADES</a></li>
          <li><a href="#proyectos">PROYECTOS</a></li>
          <li><a href="#contacto">CONTACTO</a></li>
        </ul>
        <div class="hamburger-menu" (click)="toggleMobileMenu()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      
        <ul class="mobile-menu" [ngClass]="{ 'active': isMobileMenuOpen }">
          <!-- Contenido del menú móvil -->
          <li><a href="#quiensoy" (click)="closeMobileMenu()">¿QUIÉN SOY?</a></li>
          <li><a href="#habilidades" (click)="closeMobileMenu()">HABILIDADES</a></li>
          <li><a href="#proyectos" (click)="closeMobileMenu()">PROYECTOS</a></li>
          <li><a href="#contacto" (click)="closeMobileMenu()">CONTACTO</a></li>
        </ul>
      </div>
    </div>
  </div>
  